# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=med_db

# App
APP_PORT=8080
JWT_SECRET=your_strong_jwt_secret_here
GIN_MODE=debug

# S3 / Object Storage
AWS_REGION=eu-central-1
S3_BUCKET_NAME=my-medical-app-storage
# S3_ENDPOINT=  # оставь пустым для AWS; для Yandex: https://storage.yandexcloud.net